<%-include("__header")%>
<h1>This is the admin portal homepage!</h1>
<pre><%= processedData.length%></pre>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
       
        <th scope="col">Email</th>
        <th scope="col">Cell</th>
        
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
        <!-- display records in table -->
        <% for(let i =0; i < processedData.length; i++){ %>
            <tr>
                <th scope="row"><%= processedData[i].id%></th>
                <td><%=processedData[i].email%></td>
                <td><%=processedData[i].cell%></td>
                <td><%=processedData[i].requests%></td>

            </tr>
       <% } %>
    </tbody>
  </table>

<%-include("__footer")%>

